In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse

In [3]:
FILEPATH_ALL = "all_data.csv"
df = pd.read_csv(FILEPATH_ALL)
ID_TYPE = 'id_applicant'
# ID_TYPE = 'id_partner'

C:\Users\Xiaomi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df = df.drop('Unnamed: 0', axis=1)
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
0,3080432,2883423,-1,9044,2018-10-16 18:11:10,Создание кандидата,NaN,NaN,Продавец-кассир,False
1,2873477,2761171,-1,32087,2018-08-15 10:36:32,Создание кандидата,NaN,NaN,Продавец-кассир,False
2,2896621,2776555,-1,32087,2018-08-22 14:09:27,Создание кандидата,NaN,NaN,Продавец-кассир,False
3,2906437,2782282,-1,32087,2018-08-24 15:55:27,Создание кандидата,NaN,NaN,Продавец-кассир,False
4,2965200,2816229,-1,32087,2018-09-11 15:00:49,Создание кандидата,NaN,NaN,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
10704431,4825142,2952699,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704432,4736341,936507,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704433,4782853,2753502,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704434,4769924,3823657,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704435,4683816,862865,-1,32093,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True

In [5]:
def clientInfo(df, id):
    return df[df['id_applicant'] == id].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

def partnerInfo(df, id):
    return df[df['id_partner'] == id].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [6]:
df.groupby('id_partner').count().sort_values('action_date').tail(20)

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_partner,,,,,,,,,
2500322,184,184,184,184,184,131,140,184,184
2803244,189,189,189,189,189,146,146,189,189
1933050,190,190,190,190,190,138,140,190,190
1763274,192,192,192,192,192,131,133,192,192
2675491,193,193,193,193,193,151,153,193,193
1647436,198,198,198,198,198,145,150,198,198
3669693,201,201,201,201,201,153,152,201,201
1767983,201,201,201,201,201,151,155,201,201
3480408,206,206,206,206,206,161,160,206,206
2518457,206,206,206,206,206,153,156,206,206
2579964,211,211,211,211,211,168,169,211,211
2268543,213,213,213,213,213,152,152,213,213
2785980,215,215,215,215,215,163,163,215,215
1663499,220,220,220,220,220,154,154,220,220
2364336,223,223,223,223,223,147,167,223,223
3850059,234,234,234,234,234,161,162,234,234
3822731,235,235,235,235,235,190,191,235,235
546458,246,246,246,246,246,176,181,246,246
2253509,268,268,268,268,268,189,188,268,268
2596099,448,448,448,448,448,322,327,448,448

In [7]:
partnerInfo(df, 2803244).head(50)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
333136,2475966,2803244,-1,32985,2018-04-06 17:37:55,Создание кандидата,NaN,NaN
4202273,2475966,2803244,12340546,32985,2018-04-06 17:38:01,Обработка,Провести первичную обработку,Недозвон
4202271,2475966,2803244,12351700,32985,2018-04-09 11:52:47,Обработка,Провести первичную обработку,Подходит
4202272,2475966,2803244,12351711,32985,2018-04-09 11:53:07,Интервью с руководителем,Назначить интервью с руководителем,Резерв
476620,2520305,2803244,-1,33446,2018-04-23 12:05:26,Создание кандидата,NaN,NaN
2275036,2520305,2803244,12569746,33446,2018-04-23 12:05:34,Обработка,Провести первичную обработку,Подходит
2275037,2520305,2803244,12569753,33446,2018-04-23 12:05:43,Интервью с руководителем,Назначить интервью с руководителем,Резерв
333083,2942210,2803244,-1,31622,2018-09-04 18:41:11,Создание кандидата,NaN,NaN
4585791,2942210,2803244,15122709,31622,2018-09-04 18:41:35,Обработка,Провести первичную обработку,Подходит
4585789,2942210,2803244,15122710,31622,2018-09-04 18:41:36,Обработка,Проверка источника,Источник не Яндекс Цифра
4585790,2942210,2803244,15122711,31622,2018-09-04 18:41:37,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4585788,2942210,2803244,15122712,31622,2018-09-04 18:41:37,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4585787,2942210,2803244,15122713,31622,2018-09-04 18:41:38,СБ,Подготовить анкету кандидата,Подготовлена
4585786,2942210,2803244,15143890,31622,2018-09-05 15:01:53,СБ,Узнать результаты СБ,Подходит
4585785,2942210,2803244,15154711,31622,2018-09-06 09:15:01,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр,Направлен на медосмотр
4585784,2942210,2803244,15190419,31622,2018-09-07 12:24:30,Назначение времени на оформление/медосмотр,Узнать результаты медосмотра,Недозвон
4585792,2942210,2803244,15330492,31622,2018-09-14 13:18:02,Назначение времени на оформление/медосмотр,Узнать результаты медосмотра,Время назначено
4585793,2942210,2803244,15330508,31622,2018-09-14 13:18:28,Оформление,Узнать результаты приема,Принят
333082,3123765,2803244,-1,29306,2018-10-30 10:44:30,Создание кандидата,NaN,NaN
5427732,3123765,2803244,16089860,29306,2018-10-30 10:46:32,Обработка,Провести первичную обработку,Отказ кандидата
482717,3131317,2803244,-1,8102,2018-10-31 15:56:47,Создание кандидата,NaN,NaN
3227102,3131317,2803244,16125093,8102,2018-10-31 15:56:54,Обработка,Провести первичную обработку,Подходит
3227101,3131317,2803244,16125100,8102,2018-10-31 15:57:12,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
3227100,3131317,2803244,16168595,8102,2018-11-02 14:38:07,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
3227099,3131317,2803244,16168603,8102,2018-11-02 14:38:25,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
3227098,3131317,2803244,16231849,8102,2018-11-07 17:30:24,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
3227097,3131317,2803244,16231883,8102,2018-11-07 17:31:26,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
3227104,3131317,2803244,16266766,8102,2018-11-09 12:31:50,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
3227103,3131317,2803244,16266777,8102,2018-11-09 12:32:11,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
326065,3161961,2803244,-1,32617,2018-11-10 06:23:53,Создание кандидата,NaN,NaN
3227096,3131317,2803244,16279480,8102,2018-11-10 06:23:54,Смена вакансии,NaN,NaN
1845082,3161961,2803244,16279481,32617,2018-11-10 06:24:03,Обработка,Провести первичную обработку,Подходит
1845081,3161961,2803244,16279482,32617,2018-11-10 06:24:04,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
1845080,3161961,2803244,16279483,32617,2018-11-10 06:24:06,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
1845085,3161961,2803244,16279484,32617,2018-11-10 06:24:07,СБ,Подготовить анкету кандидата,Подготовлена
1845086,3161961,2803244,16290418,32617,2018-11-12 11:13:11,СБ,Узнать результаты СБ,Подходит
482495,3172195,2803244,-1,8102,2018-11-13 16:55:21,Создание кандидата,NaN,NaN
1006498,3172195,2803244,16321206,8102,2018-11-13 16:56:02,Обработка,Провести первичную обработку,Подходит
1006497,3172195,2803244,16321208,8102,2018-11-13 16:56:12,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
1006499,3172195,2803244,16321228,8102,2018-11-13 16:57:39,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
1006495,3172195,2803244,16327183,8102,2018-11-14 10:09:34,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
1006496,3172195,2803244,16327187,8102,2018-11-14 10:09:42,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
1006494,3172195,2803244,16337152,8102,2018-11-14 15:10:08,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
1006493,3172195,2803244,16343592,8102,2018-11-14 18:58:50,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
1845084,3161961,2803244,16365580,32617,2018-11-15 16:42:03,Оформление,Назначить время на оформление/медосмотр,Недозвон
1006492,3172195,2803244,16366349,8102,2018-11-15 16:57:57,Интервью с руководителем,Узнать результаты интервью с руководителем,Отказ кандидата
1845083,3161961,2803244,16366397,32617,2018-11-15 16:59:15,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон
1845079,3161961,2803244,16420359,32617,2018-11-20 10:44:03,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Отказ кандидата
298490,3274272,2803244,-1,8108,2018-12-11 17:02:49,Создание кандидата,NaN,NaN
332785,3286638,2803244,-1,8104,2018-12-14 13:22:25,Создание кандидата,NaN,NaN

In [8]:
df_hired = df[(df['stage_name'] == 'Оформление') & (df['activity_name'] == 'Узнать результаты приема') & (df['result_name'] == 'Принят')]
df_hired = df_hired.reset_index(drop=True)
hired_ids = df_hired[ID_TYPE]
df_filtered = df[df[ID_TYPE].isin(hired_ids)]
df_filtered = df_filtered.sort_values([ID_TYPE,'action_date'])
df_filtered

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
568099,2196746,2393754,-1,6715,2018-01-05 06:37:15,Создание кандидата,NaN,NaN,Продавец-кассир,False
4848031,2196746,2393754,10890141,6715,2018-01-05 06:37:32,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
4848030,2196746,2393754,10890143,6715,2018-01-05 06:37:33,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,False
4848032,2196746,2393754,10890144,6715,2018-01-05 06:37:33,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,False
4848029,2196746,2393754,10890145,6715,2018-01-05 06:37:34,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
10499518,4886615,1040329,27106030,27473,2020-04-14 11:09:14,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,False
10499519,4886615,1040329,27106031,27473,2020-04-14 11:09:15,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,False
10499520,4886615,1040329,27106032,27473,2020-04-14 11:09:16,СБ,Проверка формы обращения,Не резерв,Продавец-кассир,False
10499521,4886615,1040329,27106033,27473,2020-04-14 11:09:18,Оформление,Назначить время на оформление,Время назначено,Продавец-кассир,False
10499513,4886615,1040329,27106034,27473,2020-04-14 11:09:23,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False

In [9]:
df_filtered.drop(['id_log', 'position_name', 'is_open_action'], axis=1, inplace=True)
df_filtered

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
568099,2196746,2393754,6715,2018-01-05 06:37:15,Создание кандидата,NaN,NaN
4848031,2196746,2393754,6715,2018-01-05 06:37:32,Обработка,Провести первичную обработку,Подходит
4848030,2196746,2393754,6715,2018-01-05 06:37:33,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4848032,2196746,2393754,6715,2018-01-05 06:37:33,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4848029,2196746,2393754,6715,2018-01-05 06:37:34,СБ,Подготовить анкету кандидата,Подготовлена
...,...,...,...,...,...,...,...
10499518,4886615,1040329,27473,2020-04-14 11:09:14,СБ,Подготовить анкету кандидата,Подготовлена
10499519,4886615,1040329,27473,2020-04-14 11:09:15,СБ,Узнать результаты СБ,Подходит
10499520,4886615,1040329,27473,2020-04-14 11:09:16,СБ,Проверка формы обращения,Не резерв
10499521,4886615,1040329,27473,2020-04-14 11:09:18,Оформление,Назначить время на оформление,Время назначено
10499513,4886615,1040329,27473,2020-04-14 11:09:23,Оформление,Узнать результаты приема,Принят

In [10]:
df.groupby('id_applicant').count().sort_values('action_date').tail(20)

,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_applicant,,,,,,,,,
3679769,34,34,34,34,34,33,33,34,34
3808260,34,34,34,34,34,33,33,34,34
4784167,34,34,34,34,34,31,32,34,34
2909317,34,34,34,34,34,33,33,34,34
3758672,34,34,34,34,34,33,33,34,34
3998966,35,35,35,35,35,34,34,35,35
3865572,35,35,35,35,35,34,34,35,35
2740254,35,35,35,35,35,33,34,35,35
3872457,35,35,35,35,35,34,34,35,35
2832712,36,36,36,36,36,34,35,36,36
2740016,36,36,36,36,36,33,34,36,36
3661131,36,36,36,36,36,35,35,36,36
3833149,36,36,36,36,36,35,35,36,36
2517934,37,37,37,37,37,35,35,37,37
3877341,37,37,37,37,37,36,36,37,37
2391160,37,37,37,37,37,36,36,37,37
2596225,37,37,37,37,37,34,35,37,37
3843106,38,38,38,38,38,37,37,38,38
3648168,43,43,43,43,43,42,42,43,43
2524951,59,59,59,59,59,57,57,59,59

In [11]:
clientInfo(df,3843106)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
5778922,3843106,3272722,-1,30004,2019-06-28 11:51:25,Создание кандидата,NaN,NaN
6543349,3843106,3272722,20411140,30004,2019-06-28 11:52:28,Обработка,Провести первичную обработку,Подходит
6543350,3843106,3272722,20411142,30004,2019-06-28 11:52:28,Обработка,Проверка формы обращения,Не резерв
6543348,3843106,3272722,20411196,30004,2019-06-28 11:53:06,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
6543347,3843106,3272722,20453942,30004,2019-07-01 13:46:34,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543346,3843106,3272722,20459523,30004,2019-07-01 15:29:27,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543345,3843106,3272722,20477412,30004,2019-07-02 11:51:48,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543344,3843106,3272722,20509793,30004,2019-07-03 11:58:57,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543342,3843106,3272722,20538554,30004,2019-07-04 11:16:27,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543343,3843106,3272722,20567037,30004,2019-07-05 10:48:08,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543341,3843106,3272722,20610671,30004,2019-07-08 14:56:32,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543340,3843106,3272722,20613673,30004,2019-07-08 15:53:53,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543339,3843106,3272722,20644095,30004,2019-07-09 15:41:32,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543335,3843106,3272722,20674517,30004,2019-07-10 14:58:45,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
6543334,3843106,3272722,20674525,30004,2019-07-10 14:58:54,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
6543336,3843106,3272722,20704900,30004,2019-07-11 14:42:15,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543333,3843106,3272722,20734204,30004,2019-07-12 14:16:52,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543331,3843106,3272722,20763270,30004,2019-07-15 14:31:21,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543328,3843106,3272722,20766963,30004,2019-07-15 15:37:42,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи
6543332,3843106,3272722,20793702,30004,2019-07-16 13:45:05,Интервью с руководителем,Узнать результаты интервью с руководителем,Ожидание
6543329,3843106,3272722,20795938,30004,2019-07-16 14:23:44,Ожидание,Вернуть в воронку,Интервью с руководителем
6543330,3843106,3272722,20795944,30004,2019-07-16 14:23:47,Интервью с руководителем,Назначить интервью с руководителем,Нет обратной связи
6543325,3843106,3272722,20798585,30004,2019-07-16 15:01:08,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
6543327,3843106,3272722,20798587,30004,2019-07-16 15:01:09,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
6543326,3843106,3272722,20798588,30004,2019-07-16 15:01:10,СБ,Подготовить анкету кандидата,Подготовлена
6543337,3843106,3272722,20809329,30004,2019-07-17 08:31:54,СБ,Узнать результаты СБ,Подходит
6543338,3843106,3272722,20809330,30004,2019-07-17 08:31:55,СБ,Проверка формы обращения,Не резерв
6543324,3843106,3272722,20846295,30004,2019-07-18 11:23:23,Оформление,Назначить время на оформление/медосмотр,Недозвон
6543323,3843106,3272722,20857954,30004,2019-07-18 14:58:52,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон
6543322,3843106,3272722,20863974,30004,2019-07-18 17:04:29,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Подходит
6543320,3843106,3272722,20863975,30004,2019-07-18 17:04:30,Обработка,Проверка формы обращения,Не резерв
6543319,3843106,3272722,20863976,30004,2019-07-18 17:04:31,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
6543317,3843106,3272722,20863981,30004,2019-07-18 17:04:32,СБ,Подготовить анкету кандидата,Подготовлена
6543318,3843106,3272722,20863980,30004,2019-07-18 17:04:32,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
6543316,3843106,3272722,20863982,30004,2019-07-18 17:04:33,СБ,Узнать результаты СБ,Подходит
6543315,3843106,3272722,20863983,30004,2019-07-18 17:04:34,СБ,Проверка формы обращения,Не резерв
6543314,3843106,3272722,20863984,30004,2019-07-18 17:04:35,Оформление,Назначить время на оформление/медосмотр,Время назначено
6543321,3843106,3272722,20863987,30004,2019-07-18 17:04:41,Оформление,Узнать результаты приема,Принят

In [12]:
groups = df_filtered.groupby(ID_TYPE)
last = groups.nth(-1)
not_hired = last[last['result_name'] != 'Принят']
df_filtered = df_filtered[df_filtered[ID_TYPE].isin(list(not_hired.index)) == False]
df_filtered = df_filtered.sort_values([ID_TYPE,'action_date'])
df_filtered

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
568099,2196746,2393754,6715,2018-01-05 06:37:15,Создание кандидата,NaN,NaN
4848031,2196746,2393754,6715,2018-01-05 06:37:32,Обработка,Провести первичную обработку,Подходит
4848030,2196746,2393754,6715,2018-01-05 06:37:33,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4848032,2196746,2393754,6715,2018-01-05 06:37:33,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4848029,2196746,2393754,6715,2018-01-05 06:37:34,СБ,Подготовить анкету кандидата,Подготовлена
...,...,...,...,...,...,...,...
10499518,4886615,1040329,27473,2020-04-14 11:09:14,СБ,Подготовить анкету кандидата,Подготовлена
10499519,4886615,1040329,27473,2020-04-14 11:09:15,СБ,Узнать результаты СБ,Подходит
10499520,4886615,1040329,27473,2020-04-14 11:09:16,СБ,Проверка формы обращения,Не резерв
10499521,4886615,1040329,27473,2020-04-14 11:09:18,Оформление,Назначить время на оформление,Время назначено
10499513,4886615,1040329,27473,2020-04-14 11:09:23,Оформление,Узнать результаты приема,Принят

In [13]:
groups = df_filtered.groupby(ID_TYPE)
first = groups.nth(0)
not_created = first[(first['stage_name'] != 'Создание кандидата') & (first['activity_name'] != 'Провести первичную обработку')]
df_filtered = df_filtered[df_filtered[ID_TYPE].isin(not_created.index) == False]
df_filtered = df_filtered.sort_values([ID_TYPE,'action_date'])
df_filtered = df_filtered.reset_index()

In [14]:
groups = df_filtered.groupby(ID_TYPE)
df_new = pd.DataFrame()
df_new[ID_TYPE] = list(groups.groups)
df_new['first'] = groups.first()['action_date'].values
df_new['last'] = groups.last()['action_date'].values
df_new['first'] = pd.to_datetime(df_new['first'], format="%Y-%m-%d %H:%M:%S")
df_new['last'] = pd.to_datetime(df_new['last'], format="%Y-%m-%d %H:%M:%S")
df_new['diff'] = df_new['last'] - df_new['first']
df_new

        id_applicant               first                last             diff
0            2196746 2018-01-05 06:37:15 2018-02-01 23:04:53 27 days 16:27:38
1            2196747 2018-01-05 06:37:54 2018-01-11 09:51:21  6 days 03:13:27
2            2196748 2018-01-05 06:39:55 2018-02-02 12:41:49 28 days 06:01:54
3            2196752 2018-01-05 06:50:30 2018-01-22 11:43:14 17 days 04:52:44
4            2196753 2018-01-05 06:50:31 2018-01-15 10:32:20 10 days 03:41:49
...              ...                 ...                 ...              ...
199043       4886560 2020-04-14 11:04:14 2020-04-14 11:04:44  0 days 00:00:30
199044       4886575 2020-04-14 11:06:05 2020-04-14 11:06:42  0 days 00:00:37
199045       4886579 2020-04-14 11:06:30 2020-04-14 11:07:06  0 days 00:00:36
199046       4886599 2020-04-14 11:07:46 2020-04-14 11:08:17  0 days 00:00:31
199047       4886615 2020-04-14 11:08:56 2020-04-14 11:09:23  0 days 00:00:27

[199048 rows x 4 columns]

In [15]:
df_new['diff_days'] = df_new['diff'].apply(lambda x: x.days)
df_new['diff_hours'] = df_new['diff'].apply(lambda x: x.total_seconds()//3600)
df_new['work_days'] = df_new.apply(lambda x: np.busday_count(x['first'].strftime('%Y-%m-%d'), x['last'].strftime('%Y-%m-%d')), axis=1)
df_new

,id_applicant,first,last,diff,diff_days,diff_hours,work_days
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6
...,...,...,...,...,...,...,...
199043,4886560,2020-04-14 11:04:14,2020-04-14 11:04:44,0 days 00:00:30,0,0.0,0
199044,4886575,2020-04-14 11:06:05,2020-04-14 11:06:42,0 days 00:00:37,0,0.0,0
199045,4886579,2020-04-14 11:06:30,2020-04-14 11:07:06,0 days 00:00:36,0,0.0,0
199046,4886599,2020-04-14 11:07:46,2020-04-14 11:08:17,0 days 00:00:31,0,0.0,0
199047,4886615,2020-04-14 11:08:56,2020-04-14 11:09:23,0 days 00:00:27,0,0.0,0

In [16]:
df_new.loc[(df_new['work_days'] == 0), 'work_days'] = 1

In [17]:
df_new = df_new[df_new['diff_hours'] >= 24]
df_new

,id_applicant,first,last,diff,diff_days,diff_hours,work_days
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6
...,...,...,...,...,...,...,...
198576,4871932,2020-04-10 11:38:24,2020-04-13 14:14:22,3 days 02:35:58,3,74.0,1
198671,4874547,2020-04-10 17:10:11,2020-04-13 16:47:34,2 days 23:37:23,2,71.0,1
198672,4874561,2020-04-10 17:12:31,2020-04-13 16:45:57,2 days 23:33:26,2,71.0,1
198679,4874899,2020-04-10 18:37:18,2020-04-13 17:18:34,2 days 22:41:16,2,70.0,1
198680,4875075,2020-04-11 08:31:29,2020-04-13 13:00:37,2 days 04:29:08,2,52.0,1

In [27]:
# groups = df_new.groupby(ID_TYPE)

In [18]:
groups.first()

,index,id_partner,department_id,action_date,stage_name,activity_name,result_name
id_applicant,,,,,,,
2196746,568099,2393754,6715,2018-01-05 06:37:15,Создание кандидата,Провести первичную обработку,Подходит
2196747,798724,2314693,12252,2018-01-05 06:37:54,Создание кандидата,Назначить интервью с руководителем,Встреча назначена
2196748,296941,2346300,5760,2018-01-05 06:39:55,Создание кандидата,Провести первичную обработку,Подходит
2196752,280617,2393757,32391,2018-01-05 06:50:30,Создание кандидата,Провести первичную обработку,Подходит
2196753,330542,2393758,32156,2018-01-05 06:50:31,Создание кандидата,Провести первичную обработку,Подходит
...,...,...,...,...,...,...,...
4886560,10312087,1197774,35106,2020-04-14 11:04:14,Создание кандидата,Провести первичную обработку,Подходит
4886575,10312158,1542748,28162,2020-04-14 11:06:05,Создание кандидата,Провести первичную обработку,Подходит
4886579,10312167,3878216,10530,2020-04-14 11:06:30,Создание кандидата,Провести первичную обработку,Подходит
4886599,10312210,3884467,48259,2020-04-14 11:07:46,Создание кандидата,Провести первичную обработку,Подходит
4886615,10312268,1040329,27473,2020-04-14 11:08:56,Создание кандидата,Провести первичную обработку,Подходит

In [105]:
from statistics import mean

In [110]:
all_time_interview_arr = []
max_time_interview = []
min_time_interview = []
mean_time_interview = []
count_interview_arr = []
interview_time_ids = []
for group_name, df_group in groups:
    start_interview = None
    count_interview = 0
    summ = None
    diff_interview = []
    df_group['action_date'] = pd.to_datetime(df['action_date'],  format="%Y-%m-%d %H:%M:%S")
    for row_index, row in df_group.iterrows():
        stage = row['stage_name']
        activity = row['activity_name']
        if row_index > 1:
            
            if df_group['stage_name'].iloc[row_index-2] == 'Интервью с руководителем':
            
                if start_interview == None:
                    start_interview = row['action_date']

                if df_group['stage_name'].iloc[row_index-1] != 'Интервью с руководителем' and df_group['stage_name'].iloc[row_index] != 'Интервью с руководителем':
                    count_interview += 1
                    diff = row['action_date'] - start_interview
                    summ = summ + diff
                    diff_interview.append(diff)
                
    if count_interview != 0:
        interview_time_ids.append(group_name)
        max_time_interview.append(max(diff_interview))
        min_time_interview.append(min(diff_interview))
        mean_time_interview.append(pd.to_timedelta(pd.Series(diff_interview)).mean())
        count_interview_arr.append(count_interview)
        
        all_time_interview_arr(sum(diff_interview))

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [111]:
start_interview_arr = []
end_interview_arr = []
interview_time_ids = []
for group_name, df_group in groups:
    start_interview = None
    end_interview = None
    diff_interview = []
    for row_index, row in df_group.iterrows():
        stage = row['stage_name']
        activity = row['activity_name']
        
        if stage == 'Интервью с руководителем':

            if start_interview == None:
                start_interview = row['action_date']

            end_interview = row['action_date']
                
    if not start_interview == None:
        start_interview_arr.append(start_interview)
        end_interview_arr.append(end_interview)
        interview_time_ids.append(group_name)

In [112]:
len(start_interview_arr)

195384

In [113]:
len(groups)

199048

In [114]:
df_fb = pd.DataFrame()
df_fb[ID_TYPE] = interview_time_ids
df_fb['start_interview'] = start_interview_arr
df_fb['start_interview'] = pd.to_datetime(df_fb['start_interview'], format="%Y-%m-%d %H:%M:%S")
df_fb['end_interview'] = end_interview_arr
df_fb['end_interview'] = pd.to_datetime(df_fb['end_interview'], format="%Y-%m-%d %H:%M:%S")

In [115]:
df_fb

        id_applicant     start_interview       end_interview
0            2196746 2018-01-05 06:37:33 2018-01-05 06:37:33
1            2196747 2018-01-05 06:39:23 2018-01-05 06:39:24
2            2196748 2018-01-05 06:40:13 2018-01-05 06:40:14
3            2196752 2018-01-05 06:50:56 2018-01-05 06:50:56
4            2196753 2018-01-05 06:50:48 2018-01-05 06:50:48
...              ...                 ...                 ...
195379       4886560 2020-04-14 11:04:34 2020-04-14 11:04:35
195380       4886575 2020-04-14 11:06:29 2020-04-14 11:06:31
195381       4886579 2020-04-14 11:06:53 2020-04-14 11:06:55
195382       4886599 2020-04-14 11:08:02 2020-04-14 11:08:04
195383       4886615 2020-04-14 11:09:11 2020-04-14 11:09:13

[195384 rows x 3 columns]

In [116]:
df_new

,id_applicant,first,last,diff,diff_days,diff_hours,work_days
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6
...,...,...,...,...,...,...,...
198576,4871932,2020-04-10 11:38:24,2020-04-13 14:14:22,3 days 02:35:58,3,74.0,1
198671,4874547,2020-04-10 17:10:11,2020-04-13 16:47:34,2 days 23:37:23,2,71.0,1
198672,4874561,2020-04-10 17:12:31,2020-04-13 16:45:57,2 days 23:33:26,2,71.0,1
198679,4874899,2020-04-10 18:37:18,2020-04-13 17:18:34,2 days 22:41:16,2,70.0,1
198680,4875075,2020-04-11 08:31:29,2020-04-13 13:00:37,2 days 04:29:08,2,52.0,1

In [117]:
df_merged = pd.merge(df_new, df_fb, on=ID_TYPE, how='inner')
df_merged

,id_applicant,first,last,diff,diff_days,diff_hours,work_days,start_interview,end_interview
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19,2018-01-05 06:37:33,2018-01-05 06:37:33
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4,2018-01-05 06:39:23,2018-01-05 06:39:24
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20,2018-01-05 06:40:13,2018-01-05 06:40:14
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11,2018-01-05 06:50:56,2018-01-05 06:50:56
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6,2018-01-05 06:50:48,2018-01-05 06:50:48
...,...,...,...,...,...,...,...,...,...
168760,4871932,2020-04-10 11:38:24,2020-04-13 14:14:22,3 days 02:35:58,3,74.0,1,2020-04-10 11:38:40,2020-04-10 11:38:40
168761,4874547,2020-04-10 17:10:11,2020-04-13 16:47:34,2 days 23:37:23,2,71.0,1,2020-04-10 17:10:28,2020-04-10 17:10:29
168762,4874561,2020-04-10 17:12:31,2020-04-13 16:45:57,2 days 23:33:26,2,71.0,1,2020-04-10 17:12:57,2020-04-10 17:12:58
168763,4874899,2020-04-10 18:37:18,2020-04-13 17:18:34,2 days 22:41:16,2,70.0,1,2020-04-10 18:38:10,2020-04-10 19:23:00
168764,4875075,2020-04-11 08:31:29,2020-04-13 13:00:37,2 days 04:29:08,2,52.0,1,2020-04-11 08:31:51,2020-04-11 08:31:52

In [118]:
df_merged['interview_diff'] = df_merged['end_interview'] - df_merged['start_interview']
df_merged

,id_applicant,first,last,diff,diff_days,diff_hours,work_days,start_interview,end_interview,interview_diff
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19,2018-01-05 06:37:33,2018-01-05 06:37:33,0 days 00:00:00
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4,2018-01-05 06:39:23,2018-01-05 06:39:24,0 days 00:00:01
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20,2018-01-05 06:40:13,2018-01-05 06:40:14,0 days 00:00:01
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11,2018-01-05 06:50:56,2018-01-05 06:50:56,0 days 00:00:00
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6,2018-01-05 06:50:48,2018-01-05 06:50:48,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...
168760,4871932,2020-04-10 11:38:24,2020-04-13 14:14:22,3 days 02:35:58,3,74.0,1,2020-04-10 11:38:40,2020-04-10 11:38:40,0 days 00:00:00
168761,4874547,2020-04-10 17:10:11,2020-04-13 16:47:34,2 days 23:37:23,2,71.0,1,2020-04-10 17:10:28,2020-04-10 17:10:29,0 days 00:00:01
168762,4874561,2020-04-10 17:12:31,2020-04-13 16:45:57,2 days 23:33:26,2,71.0,1,2020-04-10 17:12:57,2020-04-10 17:12:58,0 days 00:00:01
168763,4874899,2020-04-10 18:37:18,2020-04-13 17:18:34,2 days 22:41:16,2,70.0,1,2020-04-10 18:38:10,2020-04-10 19:23:00,0 days 00:44:50
168764,4875075,2020-04-11 08:31:29,2020-04-13 13:00:37,2 days 04:29:08,2,52.0,1,2020-04-11 08:31:51,2020-04-11 08:31:52,0 days 00:00:01

In [120]:
clientInfo(df,2196746)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
568099,2196746,2393754,-1,6715,2018-01-05 06:37:15,Создание кандидата,NaN,NaN
4848031,2196746,2393754,10890141,6715,2018-01-05 06:37:32,Обработка,Провести первичную обработку,Подходит
4848030,2196746,2393754,10890143,6715,2018-01-05 06:37:33,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4848032,2196746,2393754,10890144,6715,2018-01-05 06:37:33,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4848029,2196746,2393754,10890145,6715,2018-01-05 06:37:34,СБ,Подготовить анкету кандидата,Подготовлена
4848028,2196746,2393754,10892084,6715,2018-01-05 15:48:57,СБ,Узнать результаты СБ,Подходит
4848027,2196746,2393754,10894251,6715,2018-01-09 09:27:48,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр,Время назначено
4848026,2196746,2393754,11063771,6715,2018-01-16 17:26:41,Оформление,Узнать результаты приема,В ожидании
4848025,2196746,2393754,11114834,6715,2018-01-18 17:57:35,Оформление,Узнать результаты приема,В ожидании
4848024,2196746,2393754,11256014,6715,2018-01-26 16:03:09,Оформление,Узнать результаты приема,В ожидании
4848023,2196746,2393754,11364631,6715,2018-02-01 23:04:53,Оформление,Узнать результаты приема,Принят

In [121]:
df_merged['interview_diff_days'] = df_merged['interview_diff'].apply(lambda x: x.days)
df_merged['interview_diff_hours'] = df_merged['interview_diff'].apply(lambda x: x.total_seconds()//3600)
df_merged['interview_work_days'] = df_merged.apply(lambda x: np.busday_count(x['start_interview'].strftime('%Y-%m-%d'), x['end_interview'].strftime('%Y-%m-%d')), axis=1)
df_merged

,id_applicant,first,last,diff,diff_days,diff_hours,work_days,start_interview,end_interview,interview_diff,interview_diff_days,interview_diff_hours,interview_work_days
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19,2018-01-05 06:37:33,2018-01-05 06:37:33,0 days 00:00:00,0,0.0,0
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4,2018-01-05 06:39:23,2018-01-05 06:39:24,0 days 00:00:01,0,0.0,0
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20,2018-01-05 06:40:13,2018-01-05 06:40:14,0 days 00:00:01,0,0.0,0
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11,2018-01-05 06:50:56,2018-01-05 06:50:56,0 days 00:00:00,0,0.0,0
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6,2018-01-05 06:50:48,2018-01-05 06:50:48,0 days 00:00:00,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168760,4871932,2020-04-10 11:38:24,2020-04-13 14:14:22,3 days 02:35:58,3,74.0,1,2020-04-10 11:38:40,2020-04-10 11:38:40,0 days 00:00:00,0,0.0,0
168761,4874547,2020-04-10 17:10:11,2020-04-13 16:47:34,2 days 23:37:23,2,71.0,1,2020-04-10 17:10:28,2020-04-10 17:10:29,0 days 00:00:01,0,0.0,0
168762,4874561,2020-04-10 17:12:31,2020-04-13 16:45:57,2 days 23:33:26,2,71.0,1,2020-04-10 17:12:57,2020-04-10 17:12:58,0 days 00:00:01,0,0.0,0
168763,4874899,2020-04-10 18:37:18,2020-04-13 17:18:34,2 days 22:41:16,2,70.0,1,2020-04-10 18:38:10,2020-04-10 19:23:00,0 days 00:44:50,0,0.0,0
168764,4875075,2020-04-11 08:31:29,2020-04-13 13:00:37,2 days 04:29:08,2,52.0,1,2020-04-11 08:31:51,2020-04-11 08:31:52,0 days 00:00:01,0,0.0,0

In [122]:
df_merged['interview_part'] = df_merged['interview_diff'] / df_merged['diff']
df_merged

,id_applicant,first,last,diff,diff_days,diff_hours,work_days,start_interview,end_interview,interview_diff,interview_diff_days,interview_diff_hours,interview_work_days,interview_part
0,2196746,2018-01-05 06:37:15,2018-02-01 23:04:53,27 days 16:27:38,27,664.0,19,2018-01-05 06:37:33,2018-01-05 06:37:33,0 days 00:00:00,0,0.0,0,0.000000e+00
1,2196747,2018-01-05 06:37:54,2018-01-11 09:51:21,6 days 03:13:27,6,147.0,4,2018-01-05 06:39:23,2018-01-05 06:39:24,0 days 00:00:01,0,0.0,0,1.886768e-06
2,2196748,2018-01-05 06:39:55,2018-02-02 12:41:49,28 days 06:01:54,28,678.0,20,2018-01-05 06:40:13,2018-01-05 06:40:14,0 days 00:00:01,0,0.0,0,4.096826e-07
3,2196752,2018-01-05 06:50:30,2018-01-22 11:43:14,17 days 04:52:44,17,412.0,11,2018-01-05 06:50:56,2018-01-05 06:50:56,0 days 00:00:00,0,0.0,0,0.000000e+00
4,2196753,2018-01-05 06:50:31,2018-01-15 10:32:20,10 days 03:41:49,10,243.0,6,2018-01-05 06:50:48,2018-01-05 06:50:48,0 days 00:00:00,0,0.0,0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168760,4871932,2020-04-10 11:38:24,2020-04-13 14:14:22,3 days 02:35:58,3,74.0,1,2020-04-10 11:38:40,2020-04-10 11:38:40,0 days 00:00:00,0,0.0,0,0.000000e+00
168761,4874547,2020-04-10 17:10:11,2020-04-13 16:47:34,2 days 23:37:23,2,71.0,1,2020-04-10 17:10:28,2020-04-10 17:10:29,0 days 00:00:01,0,0.0,0,3.878329e-06
168762,4874561,2020-04-10 17:12:31,2020-04-13 16:45:57,2 days 23:33:26,2,71.0,1,2020-04-10 17:12:57,2020-04-10 17:12:58,0 days 00:00:01,0,0.0,0,3.881897e-06
168763,4874899,2020-04-10 18:37:18,2020-04-13 17:18:34,2 days 22:41:16,2,70.0,1,2020-04-10 18:38:10,2020-04-10 19:23:00,0 days 00:44:50,0,0.0,0,1.057074e-02
168764,4875075,2020-04-11 08:31:29,2020-04-13 13:00:37,2 days 04:29:08,2,52.0,1,2020-04-11 08:31:51,2020-04-11 08:31:52,0 days 00:00:01,0,0.0,0,5.292461e-06

In [123]:
df_merged['interview_part'].describe()

count    1.687650e+05
mean     2.190810e-01
std      3.869846e-01
min      0.000000e+00
25%      8.709542e-07
50%      2.021713e-06
75%      1.971926e-01
max      9.999996e-01
Name: interview_part, dtype: float64

In [124]:
df_merged.to_csv('interview_metrics.csv')

In [125]:
df_merged[df_merged['interview_diff_hours']>1]

,id_applicant,first,last,diff,diff_days,diff_hours,work_days,start_interview,end_interview,interview_diff,interview_diff_days,interview_diff_hours,interview_work_days,interview_part
18,2196811,2018-01-05 09:25:54,2018-02-13 10:18:29,39 days 00:52:35,39,936.0,27,2018-01-05 09:26:14,2018-02-09 12:06:12,35 days 02:39:58,35,842.0,25,0.899442
93,2197227,2018-01-05 16:34:05,2019-04-24 12:16:15,473 days 19:42:10,473,11371.0,338,2018-01-05 16:34:24,2019-04-24 12:16:04,473 days 19:41:40,473,11371.0,338,0.999999
106,2197296,2018-01-09 07:04:56,2018-01-17 09:56:22,8 days 02:51:26,8,194.0,6,2018-01-09 07:05:27,2018-01-10 11:56:15,1 days 04:50:48,1,28.0,1,0.148040
108,2197316,2018-01-09 07:19:09,2018-01-19 10:02:42,10 days 02:43:33,10,242.0,8,2018-01-09 07:19:57,2018-01-11 10:59:27,2 days 03:39:30,2,51.0,2,0.212826
124,2197523,2018-01-09 08:44:41,2018-01-22 23:02:50,13 days 14:18:09,13,326.0,9,2018-01-09 08:46:59,2018-01-10 12:31:53,1 days 03:44:54,1,27.0,1,0.085039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168677,4862939,2020-04-08 15:25:27,2020-04-10 16:41:41,2 days 01:16:14,2,49.0,2,2020-04-08 15:26:10,2020-04-09 12:57:39,0 days 21:31:29,0,21.0,1,0.436868
168686,4863584,2020-04-08 16:32:35,2020-04-10 16:07:48,1 days 23:35:13,1,47.0,2,2020-04-08 16:33:08,2020-04-10 16:07:39,1 days 23:34:31,1,47.0,2,0.999755
168700,4864512,2020-04-08 19:33:38,2020-04-13 15:12:45,4 days 19:39:07,4,115.0,3,2020-04-08 19:35:28,2020-04-09 23:16:55,1 days 03:41:27,1,27.0,1,0.239432
168726,4865246,2020-04-09 09:30:10,2020-04-13 16:27:40,4 days 06:57:30,4,102.0,2,2020-04-09 09:30:29,2020-04-09 18:50:30,0 days 09:20:01,0,9.0,0,0.090654
168752,4869849,2020-04-09 17:46:44,2020-04-13 16:32:11,3 days 22:45:27,3,94.0,2,2020-04-09 17:47:06,2020-04-13 16:32:01,3 days 22:44:55,3,94.0,2,0.999906

In [27]:
clientInfo(df, 2197227)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
41636,2197227,2394045,-1,18406,2018-01-05 16:34:05,Создание кандидата,NaN,NaN
4968594,2197227,2394045,10892207,18406,2018-01-05 16:34:24,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4968593,2197227,2394045,10892208,18406,2018-01-05 16:34:25,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4968592,2197227,2394045,10892209,18406,2018-01-05 16:34:26,СБ,Подготовить анкету кандидата,Подготовлена
4968591,2197227,2394045,18860538,18406,2019-04-09 12:33:27,Обработка,Провести первичную обработку,Подходит
4968590,2197227,2394045,18860540,18406,2019-04-09 12:33:28,Обработка,Проверка формы обращения,Не резерв
4968589,2197227,2394045,18860541,18406,2019-04-09 12:33:30,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4968588,2197227,2394045,18860543,18406,2019-04-09 12:33:31,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4968587,2197227,2394045,18860545,18406,2019-04-09 12:33:33,СБ,Подготовить анкету кандидата,Подготовлена
4968586,2197227,2394045,18876997,18406,2019-04-09 17:15:56,СБ,Узнать результаты СБ,Подходит
4968585,2197227,2394045,18876998,18406,2019-04-09 17:15:58,СБ,Проверка формы обращения,Не резерв
4968584,2197227,2394045,18897529,18406,2019-04-10 13:53:29,Оформление,Назначить время на оформление/медосмотр,Недозвон
4968583,2197227,2394045,18922181,18406,2019-04-11 12:08:04,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон
4968582,2197227,2394045,18948888,18406,2019-04-12 11:20:33,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон
4968598,2197227,2394045,19019404,18406,2019-04-16 15:36:38,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон
4968599,2197227,2394045,19046035,18406,2019-04-17 15:08:08,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон
4968597,2197227,2394045,19184548,18406,2019-04-24 12:16:00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Подходит
4968596,2197227,2394045,19184550,18406,2019-04-24 12:16:01,Обработка,Проверка формы обращения,Не резерв
4968595,2197227,2394045,19184551,18406,2019-04-24 12:16:03,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
4968581,2197227,2394045,19184553,18406,2019-04-24 12:16:04,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
4968580,2197227,2394045,19184554,18406,2019-04-24 12:16:05,СБ,Подготовить анкету кандидата,Подготовлена
4968579,2197227,2394045,19184556,18406,2019-04-24 12:16:06,СБ,Узнать результаты СБ,Подходит
4968578,2197227,2394045,19184558,18406,2019-04-24 12:16:08,СБ,Проверка формы обращения,Не резерв
4968577,2197227,2394045,19184560,18406,2019-04-24 12:16:09,Оформление,Назначить время на оформление/медосмотр,Время назначено
4968576,2197227,2394045,19184563,18406,2019-04-24 12:16:15,Оформление,Узнать результаты приема,Принят

NameError: name 'df_merged' is not defined