In [47]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse

In [48]:
FILEPATH_2020 = "with_closed_ations_as________select_app_2020_X5_STORES.csv"
df = pd.read_csv(FILEPATH_2020)
df

/home/lev/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,4545953,3714199,-1,24522,2020-01-24 16:57:59.521103+00,Создание кандидата,NaN,NaN,Директор магазина,True,False
2,4600098,3714199,-1,24522,2020-02-05 17:57:55.727051+00,Создание кандидата,NaN,NaN,Директор магазина,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739677,4734680,2232021,-1,32061,2020-04-23 16:26:11.80918+00,Гайд-интервью,Назначить время для гайд-интервью,NaN,Администратор,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739681 entries, 0 to 739680
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_applicant      739681 non-null  int64
 1   id_partner        739681 non-null  int64
 2   id_log            739681 non-null  int64
 3   department_id     739681 non-null  int64
 4   action_date       739681 non-null  object
 5   stage_name        739681 non-null  object
 6   activity_name     510380 non-null  object
 7   result_name       471541 non-null  object
 8   position_name     739681 non-null  object
 9   is_active_action  739681 non-null  bool
 10  is_open_action    739681 non-null  bool
dtypes: bool(2), int64(4), object(5)
memory usage: 52.2+ MB

In [50]:
df[df['position_name'] == 'Продавец-кассир']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [51]:
df = df[df['position_name'] == 'Продавец-кассир']

In [52]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [53]:
df = df[df['is_active_action'] == True]
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [19]:
df['stage_name'].unique()

array(['Создание кандидата', 'Интервью с руководителем', 'Обработка',
       'Оформление', 'Смена вакансии', 'СБ', 'Не прошел СБ',
       'Мы отказали', 'Выход на работу', 'Отказался', 'Резерв',
       'Черный список'], dtype=object)

In [54]:
df[df['stage_name'] == 'Выход на работу']['activity_name'].unique()

array(['Назначить время на оформление', 'Узнать результаты приема',
       'Предоставить обратную связь по кандидату'], dtype=object)

In [55]:
df[df['stage_name'] == 'Оформление']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
214832,4799822,3848969,26663190,35752,2020-03-26 13:45:08.795075+00,Оформление,Назначить время на оформление,Отказ кандидата,Продавец-кассир,True,False
214833,4799822,3848969,26651145,35752,2020-03-26 10:32:12.143249+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214850,4813173,1155855,26686149,7676,2020-03-27 11:09:33.803032+00,Оформление,Назначить время на оформление,Отказ кандидата,Продавец-кассир,True,False
214851,4813173,1155855,26685365,7676,2020-03-27 10:56:49.421809+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214852,4813173,1155855,26674665,7676,2020-03-26 17:16:21.316412+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739646,4859722,3757095,-1,32011,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739647,4846458,3831915,-1,32011,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739660,4862004,3884234,-1,31960,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739661,4847420,3792798,-1,31960,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739674,4858661,3882286,-1,32061,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True

In [25]:
df['activity_name'].unique()

array([nan, 'Узнать результаты интервью с руководителем',
       'Назначить интервью с руководителем', 'Проверка формы обращения',
       'Провести первичную обработку',
       'Предоставить обратную связь по кандидату',
       'Назначить время на оформление', 'Узнать результаты СБ',
       'Подготовить анкету кандидата', 'Узнать результаты приема',
       'Вывести из черного списка'], dtype=object)

In [57]:
df['result_name'].unique()

array([nan, 'Отказ кандидата', 'Не резерв', 'Подходит', 'Не подходит',
       'ОС не предоставлена руководителем', 'Отказ руководителя',
       'Недозвон', 'Перенос звонка', 'Встреча назначена', 'Подготовлена',
       'Резерв', 'Принят', 'ОС предоставлена руководителем',
       'Время назначено', 'Нет обратной связи от руководителя',
       'В белый список', 'Перенос кандидата', 'Нет обратной связи',
       'Не принят', 'Черный список', 'Перенос руководителя',
       'Уточнение данных'], dtype=object)

In [27]:
df[df['stage_name'] == 'Создание кандидата']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
214796,4786698,3428147,-1,46400,2020-03-20 11:30:52.019262+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214797,4808551,3853652,-1,23947,2020-03-25 16:13:19.44198+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214799,4751444,3824154,-1,8990,2020-03-12 10:47:16.388433+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214800,4687058,2940849,-1,8205,2020-02-25 17:13:43.228248+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214801,4790888,3182834,-1,11018,2020-03-22 13:24:11.711969+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False

In [28]:
df[df['id_applicant'] == 4797513]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
589537,4797513,3847682,26637050,7335,2020-03-25 16:54:00.449423+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Резерв,Продавец-кассир,True,False

In [29]:
df[df['id_applicant'] == 4788965]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
430136,4788965,3843286,26637059,10613,2020-03-25 16:54:27.086305+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Отказ кандидата,Продавец-кассир,True,False

In [31]:
df[df['id_applicant'] == 4798971]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
391468,4798971,1253935,26577392,9851,2020-03-24 10:39:59.435347+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
391469,4798971,1253935,26577393,9851,2020-03-24 10:40:00.474632+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
391470,4798971,1253935,26577407,9851,2020-03-24 10:40:12.953683+00,Интервью с руководителем,Назначить интервью с руководителем,Перенос звонка,Продавец-кассир,True,False
391471,4798971,1253935,26637103,9851,2020-03-25 16:55:18+00,Смена вакансии,NaN,NaN,Продавец-кассир,True,False

In [33]:
df[df['result_name'] == 'Подходит']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
214808,4809171,3853922,26638907,12320,2020-03-25 17:27:44.445276+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214837,4799096,3388458,26578035,30059,2020-03-24 10:53:03.196817+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214854,4813173,1155855,26672396,7676,2020-03-26 16:35:38.502735+00,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,True,False
214855,4813173,1155855,26666888,7676,2020-03-26 14:52:45.920591+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214858,4813173,1155855,26666900,7676,2020-03-26 14:52:48.531107+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
704659,4845662,3874498,26869895,27342,2020-04-05 10:43:27.391201+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
704663,4812837,3853722,26664880,29582,2020-03-26 14:14:38.505309+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
704665,4843263,3873116,26876167,30321,2020-04-05 23:14:25.489878+00,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,True,False
704668,4843263,3873116,26852456,30321,2020-04-04 08:58:44.182401+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
704671,4843263,3873116,26852452,30321,2020-04-04 08:58:40.893777+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False

In [34]:
df[df['id_applicant'] == 4813173]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
1899,4813173,1155855,-1,7676,2020-03-26 14:51:48.957161+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214850,4813173,1155855,26686149,7676,2020-03-27 11:09:33.803032+00,Оформление,Назначить время на оформление,Отказ кандидата,Продавец-кассир,True,False
214851,4813173,1155855,26685365,7676,2020-03-27 10:56:49.421809+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214852,4813173,1155855,26674665,7676,2020-03-26 17:16:21.316412+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214853,4813173,1155855,26672397,7676,2020-03-26 16:35:39.551012+00,СБ,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
214854,4813173,1155855,26672396,7676,2020-03-26 16:35:38.502735+00,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,True,False
214855,4813173,1155855,26666888,7676,2020-03-26 14:52:45.920591+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214856,4813173,1155855,26666892,7676,2020-03-26 14:52:46.802628+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
214857,4813173,1155855,26666896,7676,2020-03-26 14:52:47.751605+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,True,False
214858,4813173,1155855,26666900,7676,2020-03-26 14:52:48.531107+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
214859,4813173,1155855,26666903,7676,2020-03-26 14:52:49.519977+00,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,True,False

In [38]:
df['action_date'] = df['action_date'].astype(str) + "00"

In [39]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [42]:
df['action_date'] = pd.to_datetime(df['action_date'], format="%Y-%m-%d %H:%M:%S.%f%z")

ValueError: time data '2020-03-26 08:05:14+0000' does not match format '%Y-%m-%d %H:%M:%S.%f%z' (match)

In [46]:
for i in range(len(df['action_date'])):
    df['action_date'][i] = parse(df['action_date'][i])
df['action_date'] = pd.to_datetime(df['action_date']).dt.strftime("%d-%m-%Y %H:%M:%S")

TypeError: Parser must be a string or character stream, not datetime