In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse

In [2]:
FILEPATH_2020 = "with_closed_ations_as________select_app_2020_X5_STORES.csv"
df = pd.read_csv(FILEPATH_2020)

/home/lev/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = df[df['position_name'] == 'Продавец-кассир']
df = df[df['is_active_action'] == True]
df = df.drop('is_active_action', axis=1)
df['action_date'] = df['action_date'].str[:19]
df['action_date'] = pd.to_datetime(df['action_date'], format="%Y-%m-%d %H:%M:%S")

In [162]:
# df

In [19]:
df['stage_name'].unique()

array(['Создание кандидата', 'Интервью с руководителем', 'Обработка',
       'Оформление', 'Смена вакансии', 'СБ', 'Не прошел СБ',
       'Мы отказали', 'Выход на работу', 'Отказался', 'Резерв',
       'Черный список'], dtype=object)

In [163]:
# df[df['stage_name'] == 'Выход на работу']

In [8]:
# df[df['stage_name'] == 'Оформление']

In [25]:
df['activity_name'].unique()

array([nan, 'Узнать результаты интервью с руководителем',
       'Назначить интервью с руководителем', 'Проверка формы обращения',
       'Провести первичную обработку',
       'Предоставить обратную связь по кандидату',
       'Назначить время на оформление', 'Узнать результаты СБ',
       'Подготовить анкету кандидата', 'Узнать результаты приема',
       'Вывести из черного списка'], dtype=object)

In [57]:
df['result_name'].unique()

array([nan, 'Отказ кандидата', 'Не резерв', 'Подходит', 'Не подходит',
       'ОС не предоставлена руководителем', 'Отказ руководителя',
       'Недозвон', 'Перенос звонка', 'Встреча назначена', 'Подготовлена',
       'Резерв', 'Принят', 'ОС предоставлена руководителем',
       'Время назначено', 'Нет обратной связи от руководителя',
       'В белый список', 'Перенос кандидата', 'Нет обратной связи',
       'Не принят', 'Черный список', 'Перенос руководителя',
       'Уточнение данных'], dtype=object)

In [31]:
df[df['id_applicant'] == 4798971]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
391468,4798971,1253935,26577392,9851,2020-03-24 10:39:59.435347+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
391469,4798971,1253935,26577393,9851,2020-03-24 10:40:00.474632+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
391470,4798971,1253935,26577407,9851,2020-03-24 10:40:12.953683+00,Интервью с руководителем,Назначить интервью с руководителем,Перенос звонка,Продавец-кассир,True,False
391471,4798971,1253935,26637103,9851,2020-03-25 16:55:18+00,Смена вакансии,NaN,NaN,Продавец-кассир,True,False

In [74]:
df_new = df[['id_applicant','stage_name','activity_name','result_name']]
df_new = df_new.sort_values('id_applicant')
df_new = df_new[df_new['stage_name'] != 'Создание кандидата']

In [75]:
df_new.to_csv('unique2.csv')

In [73]:
df_new = df[['stage_name','activity_name','result_name']]
df_new = df_new.drop_duplicates().sort_values('stage_name')

In [18]:
df_new.to_csv('unique.csv')

In [21]:
df.groupby('id_applicant').count().sort_values('action_date')

,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_applicant,,,,,,,,,
4461761,1,1,1,1,1,0,0,1,1
4687013,1,1,1,1,1,0,0,1,1
4687007,1,1,1,1,1,0,0,1,1
4687006,1,1,1,1,1,0,0,1,1
4687003,1,1,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
4811435,29,29,29,29,29,28,28,29,29
4814936,30,30,30,30,30,29,28,30,30
4700471,31,31,31,31,31,29,29,31,31
4788781,31,31,31,31,31,28,29,31,31
4784167,34,34,34,34,34,31,32,34,34

In [23]:
# df[df['id_applicant'] == 4784167].drop(['id_log', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [89]:
# df[df['id_applicant'] == 4700471].drop(['id_log', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [112]:
# df[(df['activity_name'] == 'Узнать результаты СБ') & (df['result_name'] == 'Подготовлена')]

In [90]:
# df[df['id_applicant'] == 4814936].drop(['id_log','is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [25]:
# df[(df['activity_name'] == 'Предоставить обратную связь по кандидату') & (df['result_name'].isnull())]

In [91]:
# df[df['id_applicant'] == 4845963].drop(['id_log', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [27]:
# df[df['id_applicant'] == 4811435].drop(['id_log', 'is_active_action', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [74]:
df_new = df[['stage_name','activity_name','result_name']]
df_new = df_new.drop_duplicates().sort_values('stage_name')
df_new = df_new.reset_index(drop=True)
df_new

,stage_name,activity_name,result_name
0,Выход на работу,NaN,Недозвон
1,Выход на работу,NaN,Отказ кандидата
2,Выход на работу,NaN,ОС не предоставлена руководителем
3,Интервью с руководителем,Предоставить обратную связь по кандидату,Встреча назначена
4,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС предоставлена руководителем
...,...,...,...
99,Смена вакансии,NaN,ОС не предоставлена руководителем
100,Смена вакансии,NaN,Недозвон
101,Смена вакансии,NaN,NaN
102,Создание кандидата,NaN,NaN
103,Черный список,Вывести из черного списка,NaN

In [75]:
df_new = df[['stage_name','activity_name','result_name']]
df_new = df_new.drop_duplicates().sort_values('stage_name')
df_new = df_new.reset_index(drop=True)
df_new
df_copy = df.copy()
df_copy[['stage_name', 'activity_name', 'result_name']] = df_copy[['stage_name', 'activity_name', 'result_name']].fillna('')
df_new[['stage_name', 'activity_name', 'result_name']] = df_new[['stage_name', 'activity_name', 'result_name']].fillna('')
df_new['count'] = 0
# df[df['stage_name'] == "Выход на работу"].shape[0]
for index, row in df_new.iterrows():
    val = df_copy[(df_copy['stage_name'] == row['stage_name']) & (df_copy['activity_name'] == row['activity_name']) & (df_copy['result_name'] == row['result_name'])].shape[0]
    df_new.at[index, 'count'] = val
df_new

,stage_name,activity_name,result_name,count
0,Выход на работу,,Недозвон,1
1,Выход на работу,,Отказ кандидата,2
2,Выход на работу,,ОС не предоставлена руководителем,16
3,Интервью с руководителем,Предоставить обратную связь по кандидату,Встреча назначена,52
4,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС предоставлена руководителем,1099
...,...,...,...,...
99,Смена вакансии,,ОС не предоставлена руководителем,4
100,Смена вакансии,,Недозвон,1
101,Смена вакансии,,,9731
102,Создание кандидата,,,149735
103,Черный список,Вывести из черного списка,,54

In [77]:
df_new.sort_values('count').to_csv('unique_count.csv')

In [78]:
df_new.sort_values('stage_name').to_csv('unique_count2.csv')

In [164]:
# df[df['stage_name'] == 'Выход на работу']

In [99]:
# df[df['id_applicant'] == 4824789].drop(['id_log','is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [100]:
# df[df['id_applicant'] == 4782054].drop(['id_log','is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [101]:
# df[df['id_applicant'] == 4796626].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [106]:
# df[df['id_applicant'] == 4796626].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [105]:
# df[df['id_applicant'] == 4818196].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [165]:
# df[df['stage_name'] == 'Мы отказали']

In [166]:
# df[df['id_applicant'] == 4803377].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [167]:
# df[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Предоставить обратную связь по кандидату')]

In [168]:
# df[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Узнать результаты интервью с руководителем')]

In [169]:
# df[df['id_applicant'] == 4848496].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [4]:
df.loc[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Предоставить обратную связь по кандидату'), 'activity_name'] = 'Узнать результаты интервью с руководителем'

In [31]:
def generate_unique_csv():
    df_new = df[['stage_name','activity_name','result_name']]
    df_new = df_new.drop_duplicates().sort_values('stage_name')
    df_new = df_new.reset_index(drop=True)
    df_new
    df_copy = df.copy()
    df_copy[['stage_name', 'activity_name', 'result_name']] = df_copy[['stage_name', 'activity_name', 'result_name']].fillna('')
    df_new[['stage_name', 'activity_name', 'result_name']] = df_new[['stage_name', 'activity_name', 'result_name']].fillna('')
    df_new['count'] = 0
    for index, row in df_new.iterrows():
        val = df_copy[(df_copy['stage_name'] == row['stage_name']) & (df_copy['activity_name'] == row['activity_name']) & (df_copy['result_name'] == row['result_name'])].shape[0]
        df_new.at[index, 'count'] = val
    df_new.sort_values('stage_name').to_csv('unique_count.csv')
    return df_new

def clientInfo(df, id):
    return df[df['id_applicant'] == id].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [6]:
df.loc[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Узнать результаты интервью с руководителем') & (df['result_name'] == 'Нет обратной связи от руководителя'), 'result_name'] = 'ОС не предоставлена руководителем'

In [8]:
df_new = generate_unique_csv()

In [7]:
df_new[(df_new['stage_name'] == 'Интервью с руководителем') & (df_new['activity_name'] == 'Узнать результаты интервью с руководителем')]

NameError: name 'df_new' is not defined

In [7]:
df.loc[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Узнать результаты интервью с руководителем') & (df['result_name'] == 'Перенос руководителя'), 'result_name'] = 'Перенос звонка'

In [16]:
df_new = generate_unique_csv()
df_new[(df_new['stage_name'] == 'Интервью с руководителем') & (df_new['activity_name'] == 'Узнать результаты интервью с руководителем')]

,stage_name,activity_name,result_name,count
5,Интервью с руководителем,Узнать результаты интервью с руководителем,Не подходит,1374
7,Интервью с руководителем,Узнать результаты интервью с руководителем,Резерв,992
9,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,17789
10,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата,2794
13,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос звонка,6592
14,Интервью с руководителем,Узнать результаты интервью с руководителем,,10909
15,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,16979
16,Интервью с руководителем,Узнать результаты интервью с руководителем,Отказ руководителя,1590
17,Интервью с руководителем,Узнать результаты интервью с руководителем,ОС не предоставлена руководителем,6522
19,Интервью с руководителем,Узнать результаты интервью с руководителем,Черный список,4
21,Интервью с руководителем,Узнать результаты интервью с руководителем,Отказ кандидата,5825
22,Интервью с руководителем,Узнать результаты интервью с руководителем,Встреча назначена,58

In [8]:
df.loc[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Назначить интервью с руководителем') & (df['result_name'] == 'Перенос кандидата'), 'result_name'] = 'Перенос звонка'

In [178]:
df_new = generate_unique_csv()

In [179]:
# df[(df['stage_name'] == 'Интервью с руководителем') & (df['result_name'] == 'ОС предоставлена руководителем')]

In [180]:
# df[df['id_applicant'] == 4799489].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [9]:
df = df.drop(df[(df['stage_name'] == 'Интервью с руководителем') & (df['result_name'] == 'ОС предоставлена руководителем')].index)

In [12]:
df_new = generate_unique_csv()

In [183]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25,Создание кандидата,NaN,NaN,Продавец-кассир,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34,Создание кандидата,NaN,NaN,Продавец-кассир,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36,Создание кандидата,NaN,NaN,Продавец-кассир,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28,Создание кандидата,NaN,NaN,Продавец-кассир,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35,Создание кандидата,NaN,NaN,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True

In [191]:
# df[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Узнать результаты интервью с руководителем') & (df['result_name'] == 'Встреча назначена')]

In [17]:
# df[df['id_applicant'] == 4837354].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [ ]:
# Можно дропнуть встреча назначена при узнавании результатов

In [38]:
# df[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Узнать результаты интервью с руководителем') & (df['result_name'].isnull())]

In [37]:
# df[df['id_applicant'] == 4869996].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')
# Если в каком-то действии в конце Nan, то это дроп чувака

In [40]:
df[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Назначить интервью с руководителем') & (df['result_name'] == 'Подходит')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
218741,4811950,3695890,26657761,25427,2020-03-26 12:04:50,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
220799,4849738,3877121,26890280,49708,2020-04-06 13:31:42,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
221034,4835052,3867697,26811681,23921,2020-04-02 13:18:21,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
222676,4873437,3890759,27027004,7979,2020-04-10 14:51:48,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
222701,4846359,3874900,26874907,12459,2020-04-05 15:56:32,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
686066,4883300,3895331,27087805,25209,2020-04-13 15:32:50,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
687226,4862908,3884746,26963845,49767,2020-04-08 15:22:31,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
692365,4886031,3896869,27103320,9332,2020-04-14 10:13:00,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
694445,4842757,2846900,26849202,35130,2020-04-03 18:02:24,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False
694773,4885247,1956260,27099515,12871,2020-04-14 08:19:25,Интервью с руководителем,Назначить интервью с руководителем,Подходит,Продавец-кассир,False

In [51]:
# df[df['id_applicant'] == 4873437].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [10]:
df = df.drop(df[(df['stage_name'] == 'Интервью с руководителем') & (df['activity_name'] == 'Назначить интервью с руководителем') & (df['result_name'] == 'Подходит')].index)

In [14]:
df_new = generate_unique_csv()

In [15]:
df[df['stage_name'] == 'Мы отказали']
# В основном это лишний мусор, но решил пока оставить. Это состояние, куда переводят после интервью или СБ

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
221885,4803377,3850828,26680522,24908,2020-03-27 09:21:14,Мы отказали,NaN,Нет обратной связи от руководителя,Продавец-кассир,False
287899,4807811,948072,26729448,32643,2020-03-30 12:32:10,Мы отказали,NaN,В белый список,Продавец-кассир,False
333046,4813971,2975040,26697563,12973,2020-03-27 14:35:50,Мы отказали,NaN,Нет обратной связи от руководителя,Продавец-кассир,False
464338,4760133,3605084,26672709,25514,2020-03-26 16:40:37,Мы отказали,NaN,Черный список,Продавец-кассир,False
618748,4825168,3585894,26799123,46421,2020-04-02 07:58:58,Мы отказали,NaN,Не подходит,Продавец-кассир,False
664795,4812845,3855833,26731791,9757,2020-03-30 13:26:03,Мы отказали,NaN,В белый список,Продавец-кассир,False
694423,4822095,2515323,26940860,28541,2020-04-08 06:31:48,Мы отказали,NaN,В белый список,Продавец-кассир,False

In [22]:
clientInfo(df, 4803377)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
183378,4803377,3850828,-1,24908,2020-03-24 19:07:07,Создание кандидата,NaN,NaN
221887,4803377,3850828,26669376,24908,2020-03-26 15:53:51,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон
221886,4803377,3850828,26680483,24908,2020-03-27 09:20:12,Интервью с руководителем,Узнать результаты интервью с руководителем,Не подходит
221885,4803377,3850828,26680522,24908,2020-03-27 09:21:14,Мы отказали,NaN,Нет обратной связи от руководителя
221883,4803377,3850828,26694305,24908,2020-03-27 13:39:26,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
221882,4803377,3850828,26694314,24908,2020-03-27 13:39:33,СБ,Подготовить анкету кандидата,Подготовлена
221881,4803377,3850828,26694323,24908,2020-03-27 13:39:46,СБ,Узнать результаты СБ,Подходит
221880,4803377,3850828,26694324,24908,2020-03-27 13:39:47,СБ,Проверка формы обращения,Не резерв
221879,4803377,3850828,26705446,24908,2020-03-27 17:37:52,Оформление,Назначить время на оформление,Время назначено
221878,4803377,3850828,26780326,24908,2020-04-01 09:10:51,Оформление,Узнать результаты приема,Недозвон
221877,4803377,3850828,27064732,24908,2020-04-12 15:12:29,Оформление,Узнать результаты приема,Недозвон
733470,4803377,3850828,-1,24908,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN

In [34]:
df[(df['stage_name'] == 'Обработка') & (df['activity_name'] == 'Проверка формы обращения') & (df['result_name'] == 'Подходит')]

Empty DataFrame
Columns: [id_applicant, id_partner, id_log, department_id, action_date, stage_name, activity_name, result_name, position_name, is_open_action]
Index: []

In [35]:
# clientInfo(df, 4855286)

In [11]:
df = df.drop(df[(df['stage_name'] == 'Обработка') & (df['activity_name'] == 'Проверка формы обращения') & (df['result_name'] == 'Подходит')].index)

In [32]:
df_new = generate_unique_csv()

In [13]:
df[(df['stage_name'] == 'Оформление') & (df['activity_name'] == 'Узнать результаты приема')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
214909,4784277,3840984,26664817,5960,2020-03-26 14:13:07,Оформление,Узнать результаты приема,Отказ кандидата,Продавец-кассир,False
214910,4784277,3840984,26639308,5960,2020-03-25 17:35:49,Оформление,Узнать результаты приема,Недозвон,Продавец-кассир,False
214958,4774172,3835783,26666690,31992,2020-03-26 14:48:20,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
214962,4813502,3821610,26668701,18141,2020-03-26 15:39:35,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
214980,4813678,2057903,26669783,31462,2020-03-26 16:01:07,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
739646,4859722,3757095,-1,32011,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True
739647,4846458,3831915,-1,32011,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True
739660,4862004,3884234,-1,31960,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True
739661,4847420,3792798,-1,31960,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True
739674,4858661,3882286,-1,32061,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True

In [21]:
# clientInfo(df, 4859722)

In [ ]:
df.loc[(df['stage_name'] == 'Оформление') & (df['activity_name'] == 'Узнать результаты приема'), 'activity_name'] = 'Узнать результаты интервью с руководителем'

In [24]:
df[(df['stage_name'] == 'Смена вакансии')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
214838,4799096,3388458,26642796,30059,2020-03-26 08:05:14,Смена вакансии,NaN,NaN,Продавец-кассир,False
214898,4795061,3742188,26650264,11473,2020-03-26 10:18:28,Смена вакансии,NaN,NaN,Продавец-кассир,False
214902,4812039,2058461,26689072,34670,2020-03-27 12:00:30,Смена вакансии,NaN,NaN,Продавец-кассир,False
214928,4805065,3851754,26687231,31603,2020-03-27 11:28:02,Смена вакансии,NaN,NaN,Продавец-кассир,False
214934,4810900,3854856,26689533,24877,2020-03-27 12:03:08,Смена вакансии,NaN,NaN,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
704549,4826495,3848893,26823299,9400,2020-04-02 18:14:28,Смена вакансии,NaN,NaN,Продавец-кассир,False
704595,4797098,3847494,26684028,11389,2020-03-27 10:29:21,Смена вакансии,NaN,NaN,Продавец-кассир,False
704608,4799489,3803952,26732475,19050,2020-03-30 13:39:29,Смена вакансии,NaN,NaN,Продавец-кассир,False
704617,4829912,3864508,26802382,10685,2020-04-02 09:47:46,Смена вакансии,NaN,NaN,Продавец-кассир,False
704646,4828062,2923389,26772773,25608,2020-03-31 16:15:31,Смена вакансии,NaN,NaN,Продавец-кассир,False

In [30]:
clientInfo(df, 4799096)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
1808,4799096,3388458,-1,30059,2020-03-24 10:52:47,Создание кандидата,NaN,NaN
214837,4799096,3388458,26578035,30059,2020-03-24 10:53:03,Обработка,Провести первичную обработку,Подходит
214834,4799096,3388458,26578038,30059,2020-03-24 10:53:04,Обработка,Проверка формы обращения,Не резерв
214839,4799096,3388458,26578040,30059,2020-03-24 10:53:06,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
214835,4799096,3388458,26578046,30059,2020-03-24 10:53:16,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос звонка
214836,4799096,3388458,26623129,30059,2020-03-25 13:15:22,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон
214838,4799096,3388458,26642796,30059,2020-03-26 08:05:14,Смена вакансии,NaN,NaN

In [35]:
df[(df['stage_name'] == 'Не прошел СБ')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
215323,4509821,3694092,26973768,6552,2020-04-09 06:59:29,Не прошел СБ,Вывести из черного списка,В белый список,Продавец-кассир,False
215376,4484438,3679681,26907121,20375,2020-04-07 06:59:25,Не прошел СБ,Вывести из черного списка,В белый список,Продавец-кассир,False
215456,4490980,3597781,26876696,30511,2020-04-06 08:00:36,Не прошел СБ,Вывести из черного списка,В белый список,Продавец-кассир,False
215457,4485973,3487032,26876692,10795,2020-04-06 08:00:31,Не прошел СБ,Вывести из черного списка,В белый список,Продавец-кассир,False
215475,4496296,3655253,26974574,12807,2020-04-09 07:59:13,Не прошел СБ,Вывести из черного списка,В белый список,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True

In [45]:
clientInfo(df, 4782853)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
214300,4782853,2753502,-1,32110,2020-03-19 13:41:49,Создание кандидата,NaN,NaN
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN

In [46]:
df[(df['stage_name'] == 'Черный список')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
704772,4538990,3002793,-1,42954,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
704907,4539272,2098346,-1,42954,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
704922,4758392,3197557,-1,10708,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
705423,4542608,3622649,-1,30991,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
705424,4541709,2474617,-1,30991,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
705425,4541218,2750312,-1,30991,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
706616,4829525,3864281,-1,11890,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
706814,4814273,3516801,-1,36545,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
707163,4822333,3824380,-1,7947,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
707334,4832169,3290102,-1,11755,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
709552,4847557,3873113,-1,11448,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
709594,4838320,3869749,-1,49734,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
711644,4838801,3870090,-1,8007,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
712044,4705147,2820941,-1,6285,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
712469,4646885,3300338,-1,10450,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
713004,4541425,2468306,-1,24133,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
713005,4541046,3276046,-1,24133,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
713006,4538390,2551249,-1,24133,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714789,4527470,3619546,-1,11303,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714888,4541623,2618832,-1,8156,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714889,4541610,3134725,-1,8156,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714890,4538726,2400952,-1,8156,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714891,4538656,1896327,-1,8156,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714892,4538598,2576413,-1,8156,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
714951,4833808,3759937,-1,32606,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715245,4684198,2809964,-1,35465,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715263,4538673,2979225,-1,8177,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715443,4572333,2097646,-1,36776,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715554,4760133,3605084,-1,25514,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715631,4541939,2902595,-1,25514,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715632,4541149,2736750,-1,25514,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715633,4538635,1539177,-1,25514,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715928,4539090,2096091,-1,30011,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
715929,4538296,2307716,-1,30011,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
716294,4539151,1040837,-1,34061,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
716295,4538676,1959648,-1,34061,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
716339,4538765,2933853,-1,35895,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
716340,4538610,2532013,-1,35895,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
716383,4541953,2154777,-1,35991,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
718219,4821320,3856217,-1,33730,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
718885,4541982,637131,-1,45858,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
718886,4541833,2732093,-1,45858,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
719090,4801774,783604,-1,7692,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
719767,4633383,3586575,-1,6230,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
719780,4676087,3774841,-1,10791,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
720838,4683491,3641573,-1,49427,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
722449,4521815,2596099,-1,11377,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
722568,4579388,3652507,-1,48245,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
723461,4724974,3597619,-1,26888,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
726136,4790505,3844094,-1,47391,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
726959,4748959,2638586,-1,49574,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
738049,4696983,3789095,-1,12398,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
738298,4538891,2392786,-1,8133,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True
739092,4700505,3797137,-1,24853,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN,Продавец-кассир,True

In [51]:
clientInfo(df, 4579388)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name
130893,4579388,3652507,-1,48245,2020-01-31 17:23:54,Создание кандидата,NaN,NaN
722568,4579388,3652507,-1,48245,2020-04-23 16:26:11,Черный список,Вывести из черного списка,NaN